* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-body-bg: #535556;
  --color-headings: #ffd600;
  --color-det-bg: #748687;
  --color-tech-bg: #8e8e8e;
  --color-basic-bg: #c4c4c4;
  --color-even-bg: #e1dede;
  --color-font: #444444;
  --color-char-bg: #424242;
  --color-buttons: #b19406;
  --color-white: #fff;
  --color-border: #b4b4b4;
  --color-btnSp: #7c7c7c;
  --color-btnvcles: #6e6e6e;
  --color-btnStrsp: #636262;
  --font-family-body: "Roboto", sans-serif;
  --font-family-headlines: "Ropa Sans", sans-serif;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-body-bg);
  justify-content: center;
}

.wrapper {
  width: 90%;
  border: solid 1px var(--color-white);
  border-left: solid 1px var(--color-body-bg);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: -3px 12px 16px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

h1,
h2 {
  font-family: "Ropa Sans", sans-serif;
  color: var(--color-headings);
}

body,
header,
main,
.card-container,
article.chars,
article.details,
.arrows {
  display: flex;
}

/*.............. Header............... */

header {
  background-image: url(../img/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 6rem 4rem 6rem 1rem;
  height: 18rem;
  justify-content: space-around;
}

header video {
  position: relative;
  left: 1rem;
  width: 35%;
  height: 10rem;
  opacity: 0.2;
}

h1 {
  font-size: 3.3rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  position: absolute;
  top: -2rem;
  left: 10rem;
  line-height: 20rem;
  mix-blend-mode: screen;
  align-items: flex-start;
}

.heading-1 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 28rem;
  mix-blend-mode: screen;
}

/*....... Text Animation...... */

.transit-block {
  position: relative;
  bottom: 0rem;
  left: 0rem;
  width: 20rem;
}

.text-transit {
  position: absolute;
  width: 100%;
  height: 45rem;
  bottom: 0;
  left: 50%;
  margin-left: -3rem;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(18rem) rotateX(30deg);
}

.text-transit:after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 50%;
  pointer-events: none;
}

.transit-content {
  position: absolute;
  top: 100%;
  animation: scroll 150s linear 1s forwards;
  color: var(--color-headings);
  line-height: 1.6;
}

.transit-content h4 {
  font-size: 2rem;
}

.transit-content p {
  font-size: 1.6rem;
}

.transit-content #title {
  text-align: start;
  color: var(--color-white);
  font-size: 2rem;
  line-height: 1.9rem;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

main {
  justify-content: center;
}

/*.......... Characters ........... */

.card-container {
  max-width: 100%;
  margin-top: -2.5rem;
  margin-bottom: 3rem;
}

.chars,
.details {
  flex-direction: column;
  margin: 0 3em 3rem;
  width: 25rem;
  height: 35rem;
  background-color: var(--color-basic-bg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: -1px 4px 10px -3px rgba(0, 0, 0, 0.75);
}

.chars,
.char-details,
.planet-details {
  position: relative;
}

h2 {
  width: 100%;
  font-size: 1.6rem;
  font-weight: lighter;
  letter-spacing: 0.3rem;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--color-body-bg);
  text-align: center;
}

h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

ul {
  padding-left: 0;
  list-style: none;
  background-color: var(--color-even-bg);
}

ul.characters > li {
  padding: 0.6rem 1.5rem;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

ul.characters > li:nth-of-type(odd) {
  background-color: var(--color-tech-bg);
  color: var(--color-white);
}

ul.characters > li:hover {
  background-color: var(--color-font);
  color: var(--color-white);
  padding-left: 2rem;
}

ul.characters > li:hover::after {
  content: url(../img/arrow-right-white.png);
  margin-left: 0.5rem;
}

.details > h2 {
  background-color: var(--color-det-bg);
}

.arrows {
  position: absolute;
  justify-content: center;
  bottom: 0.2rem;
  left: 35%;
}

.arrows .previous,
.arrows .next {
  width: 16px;
  height: 19px;
  cursor: pointer;
}

.arrows .previous {
  display: none;
}

.arrows .previous,
.arrows .next,
.arrows span {
  font-size: 1rem;
  margin-left: 0.7rem;
  font-weight: bold;
}

/*.......... Details ......... */

.char-details,
.planet-details {
  height: 100%;
  flex-grow: 1;
  padding: 0.8rem;
  line-height: 1.4;
}

.planet-details {
  background-color: var(--color-tech-bg);
  color: var(--color-white);
}

.char-details > h3,
.planet-details > h3,
.char-details > p,
.planet-details > p {
  letter-spacing: 0.2rem;
}

.buttons {
  padding: 0.5rem 1rem 0 0.5rem;
  border-top: 1px solid var(--color-border);
}

.btn {
  padding: 0.8rem 0.8rem;
  margin: 0 0.3rem;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  color: var(--color-buttons);
  background-color: var(--color-even-bg);
  cursor: pointer;
}

.btn:disabled {
  cursor: none;
}

.btn:hover {
  background-color: var(--color-tech-bg);
  color: var(--color-headings);
}

.btn.active-planet {
  background-color: var(--color-tech-bg);
  color: var(--color-headings);
}

.btn.active-species {
  background-color: var(--color-btnSp);
  color: var(--color-headings);
}

.btn.active-vehicles {
  background-color: var(--color-btnvcles);
  color: var(--color-headings);
}

.btn.active-starships {
  background-color: var(--color-btnStrsp);
  color: var(--color-headings);
}

button.choice {
  display: block;
  padding: 0.5rem;
  margin: 0.3rem 0;
  border: none;
  border: 1px solid var(--color-basic-bg);
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: transparent;
  color: var(--color-white);
  cursor: pointer;
  letter-spacing: 0.1rem;
  box-shadow: -1px 2px 6px -3px rgba(0, 0, 0, 0.75);
}

/*.......... Preloader ...........*/

.preloader {
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 99999;
  width: 35px;
  height: 35px;
  border: 3px solid var(--color-tech-bg);
  border-radius: 50%;
  border-top: 3px solid transparent;
  animation: spin 2s linear infinite;
  background-color: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.preloader.planet-details {
  display: block;
  border: 3px solid var(--color-even-bg);
  border-top: 3px solid transparent;
  top: 40%;
}
